#include "winnt.rh"
#include "winuser.rh"
#include "verrsrc.h"
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

IDD_LIBSDLG DIALOG 0, 0, 241, 119
STYLE DS_SYSMODAL | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "LIONHEAD LIBRARIES"
FONT 8, "MS Shell Dlg"
{
  COMBOBOX IDC_CMB1, 91, 24, 143, 85, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
  LISTBOX IDC_LSB1, 91, 42, 143, 48, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Host", IDC_HOSTBUTTON, 91, 98, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Join", IDC_JOINBUTTON, 184, 98, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  ICON IDB_BMP1, -1, 7, 7, 60, 66, SS_BITMAP | WS_CHILD | WS_VISIBLE
  EDITTEXT IDC_EDT1, 131, 7, 103, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  LTEXT "User Name:", -1, 91, 7, 39, 12, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP
}

IDB_BMP1 BITMAP "BITMAP102_1.bmp"
IDB_BMP2 BITMAP "BITMAP106_1.bmp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_STATIC_LIB
FILEFLAGSMASK 0x3f
{
BLOCK "StringFileInfo"
{
  BLOCK "080904b0"
  {
    VALUE "Comments", "The Library"
    VALUE "CompanyName", "LionHead Studios Ltd."
    VALUE "FileDescription", "lh"
    VALUE "FileVersion", "1, 0, 0, 1"
    VALUE "InternalName", "lh"
    VALUE "LegalCopyright", L"Copyright \xA9 1997"
    VALUE "LegalTrademarks", ""
    VALUE "OriginalFilename", "lhd.lib"
    VALUE "PrivateBuild", ""
    VALUE "ProductName", "LionHead Studios Ltd. lhd"
    VALUE "ProductVersion", "1, 0, 0, 1"
    VALUE "SpecialBuild", ""
  }
}

BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0809 0x04B0
}
}

APPMENU MENU
{
  POPUP "&Options"
  {
    MENUITEM "Fullscreen\tAlt Enter",  ICM_FULLSCREEN
    MENUITEM "FPS\tCtrl Alt F", ICM_FPS
    MENUITEM "&Dump Bitmap\tCtrl Alt D", ICM_DUMP_BITMAP
    MENUITEM "&Log Properties\tCtrl Alt L", ICM_LOG_PROPERTIES
    MENUITEM "Pause\tCtrl Alt P", ICM_PAUSE
  }
}

APPACCEL ACCELERATORS
{
  "D", ICM_DUMP_BITMAP, NOINVERT, ALT, CONTROL, VIRTKEY
  "F", ICM_FPS, NOINVERT, ALT, CONTROL, VIRTKEY
  "L", ICM_LOG_PROPERTIES, NOINVERT, ALT, CONTROL, VIRTKEY
  "P", ICM_PAUSE, NOINVERT, ALT, CONTROL, VIRTKEY
  VK_RETURN, ICM_FULLSCREEN, NOINVERT, ALT, VIRTKEY
}

IDC_CURSOR CURSOR "CURSOR108_1.cur"

STRINGTABLE
{
  ICM_PAUSE, ""
  ICM_LOG_PROPERTIES, ""
  ICM_DUMP_BITMAP, ""
  ICM_FULLSCREEN, "Alt Enter"
}
