# IDE folders
.idea/
.vs/

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig
orig/*/*
*.o
*.obj
*.exe
*.EXE
*.lib
*.LIB
*.map
*.MAP

# Build files
build/
.ninja_*
build.ninja

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Miscellaneous
/*.txt
*.exe

# VSCode settings
.vscode/

# Claude
/.claude/*
!/.claude/skills/
