name: Headers

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Create virtual environment
      run: python -m venv .venv

    - name: Install dependencies
      run: .venv/bin/pip install -r scripts/headers/requirements.txt

    - name: Run unit tests
      run: .venv/bin/python -m unittest discover -v -s ./scripts/headers -p '*test.py'

    - name: Run generate_headers.py script
      run: .venv/bin/python scripts/headers/bw1_decomp_gen/generate_headers.py

    - name: Upload generated headers as artifact
      uses: actions/upload-artifact@v3
      with:
        name: bw1_decomp_gen_headers
        path: generated_headers_output/
